<ion-view   id="page10"  title= "{{devicetitle}}">
    <ion-content class="has-header" padding="true"  >
        <div ng-repeat="object in charts">
                <div id = "{{object}}" style="min-width: 310px; 
                                             height: 400px; 
                                        margin: 0 auto">
                </div>
        </div>
        <div class="list">
            <div class="button-bar" style="bottom: 0; position: absolute; right: 0; top: 10px">
                <button ng-click="settingDevice(deviceId)" 
                        class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-settings pull-right text-white">
                </button>
                <button ng-click="resetDevice(deviceId)" 
                        class="button button-large button-clear flat waves-effect waves-button waves-light icon ios-power pull-right text-white">
                </button>
        </div>
    </ion-content>
</ion-view>
