<ion-view class=" " id="page15" title="Thiết bị cảm biến">
    <ion-content class="has-header" padding="false" style="background-image: url('../img/nen2.jpg');">
        <div ng-repeat="item in devices" style = "margin-bottom: 0;" class= "list condensed-space no-padding">
          <div class="card calm-bg in" >
            <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
              <!-- //Tên device -->
              <h2>{{item.device}}</h2>
              <!-- //Mô tả chức năng -->
              <p>{{item.info}}</p>
              <div class="button-bar bar-calm" style="bottom: 0;position: absolute;right: 0;">
                <button ng-click="deleteDevice(item.$id)" class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-android-delete pull-right text-white"></button>
                <button ng-click="itemManipulation(item)" class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-ios-compose pull-right text-white"></button>
                <button ng-click="view_device(item.device, item.type)" class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-eye pull-right text-while"></button>
              </div>
              <!-- Ảnh thiết bị -->
              <img ng-src="{{&apos;img/&apos;+ item.img +&apos;&apos;}}"   >
            </a>
          </div>

      </div>

    </ion-content>

  <button ng-click="itemManipulation()" class="button button-fab button-fab-bottom-right button-calm icon ion-plus waves-effect waves-button waves-light"></button>

</ion-view>
