<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


	<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->


    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">


<!--=========================================#1. Custom Header Part====================================-->

  <!-- Bootstrap CSS and JS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <!-- MQTT.js-->
  
  <script src="lib/MQTT/paho-mqtt.js"></script>

  <!-- Graph-->
  <script src="lib/Graph/code/highcharts.js"></script>
  <script src="lib/Graph/code/highcharts-more.js"></script>
  <script src="lib/Graph/code/modules/exporting.js"></script>
  <script src="lib/Graph/code/modules/export-data.js"></script>
    
  <!--Time-->
  <script src="lib/time/moment.min.js"></script>
  <script src="lib/time/moment-timezone-with-data.js"></script>

  <!-- Ionic Meterial Header-->
  <script src="lib/ionic-material/dist/ionic.material.min.js"></script>
  <script src="lib/ionicuirouter/ionicUIRouter.js"></script>
  <link href="lib/ionic-material/dist/ionic.material.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=RobotoDraft%3A400%2C500%2C700%2C400italic" rel="stylesheet">


  <!-- Additional Styles -->
  <link href="css/style.css" rel="stylesheet">

  <!-- Icon -->
  <!-- <script src="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css"></script> -->

  <!--Firebase Header-->
  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>

  <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBEmw6WH9KMT5m6K931W1EoeLSJvvMhnD4",
      authDomain: "airtracker-4683c.firebaseapp.com",
      databaseURL: "https://airtracker-4683c.firebaseio.com",
      projectId: "airtracker-4683c",
      storageBucket: "airtracker-4683c.appspot.com",
      messagingSenderId: "100148197588"
    };
    firebase.initializeApp(config);
  </script>

<!--======================================================================================================-->



    <style type="text/css">
      .platform-ios .manual-ios-statusbar-padding{
        padding-top:20px;
      }
      .manual-remove-top-padding{
        padding-top:0px;
      }
      .manual-remove-top-padding .scroll{
        padding-top:0px !important;
      }
      ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
        margin-left:-10px;
        margin-right:-10px;
      }
      ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
        border-radius:0px;
        border-left:0px;
        border-right: 0px;
      }
    </style>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>




  </head>
  <body ng-app="app" animation="slide-left-right-ios7">
  <div>

    <!--#5. indexCtrl -->
    <ion-side-menus  ng-controller="indexCtrl" data-componentid="side-menu21"  enable-menu-with-back-views="false">
        <ion-side-menu-content  >
            <ion-nav-bar class="bar-calm" >

                <ion-nav-back-button></ion-nav-back-button>


                <ion-nav-buttons side="left">
                    <!-- #3.  $root.extras -->
                    <button ng-if="$root.extras" class="button button-icon button-clear ion-navicon" menu-toggle="left">
                    </button>
                </ion-nav-buttons>



            </ion-nav-bar>
            <ion-nav-view></ion-nav-view>
        </ion-side-menu-content>

        <!-- #3.  $root.extras -->
        <ion-side-menu side="left" id="side-menu21" ng-if="$root.extras">

            <ion-header-bar class="info">
              <img ng-src="img/account.png" class="avatar" style="margin-top: 0px">
              <p id="welcome">Tài khoản:</p>
              <!-- <p style="color: black">{{user_info}}</p> -->
              <div class="menu" id="user_info">{{user_info.email}}</div>
            </ion-header-bar>

            <ion-content class="stable-bg has-expanded-header navbar1">
                <ion-list data-componentid="list1" class="" id="menu-list1">
                    <ion-item data-componentid="list-item1"  menu-close="" ui-sref="locationsList" id="menu-list-item1" class="item-icon-left">
                        <i class="icon ion-ios-list-outline"></i>Địa điểm</ion-item>
                    <ion-item data-componentid="list-item5"  menu-close="" ui-sref="settings" id="menu-list-item5" class="item-icon-left  ">
                        <i class="icon ion-ios-gear-outline"></i>Cài đặt</ion-item>
                    <ion-item data-componentid="list-item6"  menu-close="" ui-sref="support" id="menu-list-item6" class="item-icon-left  ">
                        <i class="icon ion-ios-help-outline"></i>Hỗ trợ</ion-item>
                    <ion-item ng-click="logout()" data-componentid="list-item7" id="menu-list-item7" class="item-icon-left  ">
                        <i class="icon ion-log-out"></i>Đăng xuất</ion-item>
                </ion-list>
            </ion-content>

        </ion-side-menu>
    </ion-side-menus>
  </div>
  </body>
</html>
